/*CSS document*/

body {
    font-family: "canto", serif;
    background-color: rgb(228, 238, 253);
}
nav ul  {
    text-align: center;
    }
    
ul li 	{
    list-style-type: none;
}
nav ul li {
    display: inline;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.3em;
	}
	
nav ul li a {
	color: rgb(150, 152, 204);
	padding: .5em .4em .4em;
	}

a {
    text-decoration: none;
    }

div.container {
    max-width: 40em;
    margin: auto;
}
h1 {
	width: 5em;
    margin: auto;
	}
h3{
    color:rgb(74, 91, 132);
    font-size: 1.5em;
    font-style: normal;
}
p{
    color:rgb(46, 46, 56);
}
figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}
